// Colors

// Primary
$color_reaction: hsl(0, 100%, 67%);
$color_memory: hsl(39, 100%, 56%);
$color_verbal: hsl(166, 100%, 37%);
$color_visual: hsl(234, 85%, 45%);

// Gradients
$background_lighter_grad: hsl(252, 100%, 67%);
$background_darker_grad: hsl(241, 81%, 54%);

$circle_lighter_grad: hsla(256, 72%, 46%, 1);
$circle_darker_grad: hsla(241, 72%, 46%, 0);

// Neutral
$color_white: hsl(0, 0%, 100%);
$color_light_grey: hsl(241, 100%, 89%);
$color_dark_grey: hsl(224, 30%, 27%);
$color_pale_blue: hsl(221, 100%, 96%);
$color_light_blue: rgb(128, 155, 226);