@use '../../Styles/reset/reset.scss';
@use '../../Styles/reset/colors.scss';

.summary-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    padding: 32px;

    background-color: colors.$color_white;
    box-shadow: 5px 5px 10px rgba($color: #2b2b2b, $alpha: 0.1);

    &-container {

        // padding: 16px;

        .summary-title {
            color: colors.$color_dark_grey;
        }

        .status {
            display: flex;
            justify-content: space-between;
            background-color: colors.$color_pale_blue;
            border-radius: 10px;
            width: 280px;
            padding: 0 16px;
            margin-top: 28px;
    
            &-title {
                display: flex;
    
                &-img {
                    margin-right: 8px;
                }

                .category-Reaction {
                    color: colors.$color_reaction;
                    font-weight: bold;
                }

                .category-Memory {
                    color: colors.$color_memory;
                    font-weight: bold;
                }

                .category-Verbal {
                    color: colors.$color_verbal;
                    font-weight: bold;
                }

                .category-Visual {
                    color: colors.$color_visual;
                    font-weight: bold;
                }
            }

            .number {
                font-size: large;
                font-weight: 900;
                color: colors.$color_dark_grey;
            }

            .number2 {
                font-size: large;
                font-weight: 900;
                color: hsla(224, 30%, 27%, 0.5);
            }
        }
    
        .summary-button {
            background-color: colors.$color_dark_grey;
            border: none;
            width: 100%;
            padding: 16px;
            border-radius: 30px;
            color: colors.$color_white;
            font-size: larger;
            cursor: pointer;
            margin-top: 36px;

            &:hover {
                background-color: colors.$color_visual;
            }
        }
    }

}

@media screen and (max-width: 767px) {
    .summary-charts {
        width: 330px;
        margin-left: -10px;
    }
    
}